/* ====== VARIABLES ====== */
:root{
  --main-color: purple;
  --bg-color: #1b1a1a;
  --footer-color: #212222;
  --text-color: #b5b6b8;
}

/* ====== GLOBAL ====== */
*{margin:0;padding:0;box-sizing:border-box;}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color:white;
  line-height:1.6;
}
a{text-decoration:none;color:inherit;}

/* ====== NAVBAR ====== */
.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  width:100%;
  padding:15px 2%;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
  z-index:1000;
}
.nav-logo h1{color:white;font-size:1.5rem;}
.nav-links{
  display:flex;
  gap:50px;
}
.nav-links .link{
  color:white;
  transition:0.3s;
}

.hamburger{
  display: none;
}



/* ====== HERO / MAIN CONTENT ====== */
.hero{
    margin-left: 1%;
}

.hero-content{
  padding-top:120px;
  /* text-align:center; */
  font-size: 20px;
}

.her{
    display: flex;
    gap: 23%;
}

.ps{
    width: 350px;
    border-radius: 50%;
    margin-top: 30%;
    box-shadow: 0 0 10px #a855f7,0 0 20px #a855f7,0 0 40px #a855f7;
}
.web{
  position:relative;
  background: linear-gradient(90deg, purple, rgb(66,2,66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.web::after{
  content: attr(data-text);
  position:absolute;
  left:0; top:0;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  filter: blur(12px);
  z-index:-1;
}
button{
  padding:12px 45px;
  background:var(--main-color);
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
  transition:0.3s;
}
button:hover{
  transform:scale(1.05);
}

/* ====== FOOTER ====== */
.footer{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:50px;
}

 .footer2{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:10%;
}

 .footer3{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:25%;
}
.footer-inner{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.footer-left h2,.footer-right p{
  color: var(--text-color);
}

/* ====== SERVICES / CARDS ====== */

.about{
    padding-top: 100px;
    font-size: 20px;
}

.abt{
    text-align: center;
    font-size: 20px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  max-width:1000px;
  margin:30px auto;
}

.services{
    padding-top: 100px;
}

.serve{
    text-align: center;
}



.services-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:50px;
  max-width:1000px;
  margin:30px auto;
}

.svg{
    width: 30px;
}

.music{
    border: 1px solid purple;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    width: 75%;
    background: #333;
}
.card{
  padding:20px;
  background:#3f4141;
  border-radius:15px;
  border: 1.5px solid rgb(95, 4, 95);
  transition:0.3s;
}

.card:hover{
     transform:scale(1.05);
     background: purple;
     color: white;
}

/* ====== ABOUT / SKILLS ====== */
.skills{
  max-width:600px;
  margin-left: 1%;
}
.skill{
  margin-bottom:20px;
}
.bar{
  width:100%;
  background:#333;
  height:15px;
  border-radius:10px;
  overflow:hidden;
}
.progress{
  height:100%;
  width:0;
  background:var(--main-color);
  border-radius:10px;
  animation:fill 2s forwards;
}
.html{animation:html 2s forwards;}
.css{animation:css 2s forwards;}
.js{animation:js 2s forwards;}
.next{animation:next 2s forwards;}
@keyframes html{from{width:0} to{width:93%;}}
@keyframes css{from{width:0} to{width:95%;}}
@keyframes js{from{width:0} to{width:35%;}}
@keyframes next{from{width:0} to{width:30%;}}

.portfolio{
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
}

.contact{
    padding-top: 100px;
}

form{
  max-width: 400px;
  margin: auto;
  /* margin-top: 2%; */
  padding: 20px;
  background: #3f4141;
}

.form1 input{
    padding: 10px;
   width: 100%;
    border-radius: 5px;
}

.somto input{
  padding: 90px 97px;
  border-radius: 5px;
}

.hi{
  text-align: center;
}

.button2{
  padding:12px 135px;
  background:var(--main-color);
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
  transition:0.3s;
}

.location{
  padding: 20px;
  background:purple;
  width: 500px;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  border-radius: 5px;
}

.loca{
  width: 40px;
  margin-left: 3%;
}

.resume{
  padding: 100px;
}

.time{
  text-align: center;
}



/* ====== RESPONSIVE ====== */
@media(max-width:768px){
  .nav{gap:10px;padding:10px;}
  .nav-links{flex-wrap:wrap;justify-content:center;}
  .main-content{padding-top:100px;}

  /* ====== VARIABLES ====== */
:root{
  --main-color: purple;
  --bg-color: #1b1a1a;
  --footer-color: #212222;
  --text-color: #b5b6b8;
}

.her{
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}

/* ====== GLOBAL ====== */
*{margin:0;padding:0;box-sizing:border-box;}
body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color:white;
  line-height:1.6;
}
a{text-decoration:none;color:inherit;}

/* ====== NAVBAR ====== */
.nav{
  display:flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items:center;
  position:fixed;
  top:0;
  width:100%;
  padding:15px 2%;
  background:rgba(0,0,0,0.4);
  backdrop-filter:blur(10px);
  z-index:1000;
  position: relative;
}
.nav-logo h1{color:white;font-size:1.5rem;}
.nav-links{
  display:flex;
  gap:50px;
}
.nav-links .link{
  color:white;
  transition:0.3s;
}
.nav-links .link:hover{
  color: var(--main-color);
}.nav-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav2{
  display: none;
  flex-direction: column;
  position: absolute;
  margin-top: 10%;
  gap: 30px;
  padding: 20px;
  background-color: #4d0292;
  border-radius: 5px;
  margin-left: -25%;
}


.nav2.link{
  padding: 15px;
}

.nav2.active{ 
  display: flex;
}

.hamburger{
  cursor: pointer;
  display: block;
}


.hamburger svg{
  width: 30px;
}

/* ====== HERO / MAIN CONTENT ====== */
.hero{
    margin-left: 3%;
}

.hero-content{
  padding-top:50px;
  /* text-align:center; */
  font-size: 18px;
}

.her{
    display: flex;
    gap: 23%;
}

.ps{
    width: 350px;
    border-radius: 50%;
    margin-top: 10%;
    box-shadow: 0 0 10px #a855f7,0 0 20px #a855f7,0 0 40px #a855f7;
    margin-left: 5%;
}
.web{
  position:relative;
  background: linear-gradient(90deg, purple, rgb(66,2,66));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.web::after{
  content: attr(data-text);
  position:absolute;
  left:0; top:0;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  filter: blur(10px);
  z-index:-1;
}
button{
  padding:12px 45px;
  background:var(--main-color);
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
  transition:0.3s;
}
button:hover{
  transform:scale(1.05);
}

/* ====== FOOTER ====== */
.footer{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:50px;
}

 .footer2{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:10%;
}

 .footer3{
  background-color: var(--footer-color);
  padding:20px 2%;
  margin-top:125%;
}
.footer-inner{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
.footer-left h2,.footer-right p{
  color: var(--text-color);
}

/* ====== SERVICES / CARDS ====== */

.about{
    padding-top: 140px;
    font-size: 20px;
    margin-left: 3%;
}

.abt{
    text-align: center;
    font-size: 20px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  max-width:1000px;
  width: 200px;
  margin: auto;
}

.services{
    padding-top: 10%;
}

.serve{
    text-align: center;
}



.services-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:50px;
  max-width:1000px;
  margin:auto;
  width: 350px;
}

.svg{
    width: 30px;
}

.resume-grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:50px;
  max-width:1000px;
  margin:auto;
  width: 300px;
  /* margin-left: -7%; */
}

.music{
    border: 1px solid purple;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    width: 75%;
    background: #333;
}
.card{
  padding:20px;
  background:#3f4141;
  border-radius:15px;
  border: 1.5px solid rgb(95, 4, 95);
  transition:0.3s;
}

.card:hover{
     transform:scale(1.05);
     background: purple;
     color: white;
}

/* ====== ABOUT / SKILLS ====== */
.skills{
  max-width:600px;
  margin-left: 1%;
}
.skill{
  margin-bottom:20px;
}
.bar{
  width:100%;
  background:#333;
  height:15px;
  border-radius:10px;
  overflow:hidden;
  width: 350px;
}
.progress{
  height:100%;
  width:0;
  background:var(--main-color);
  border-radius:10px;
  animation:fill 2s forwards;
}
.html{animation:html 2s forwards;}
.css{animation:css 2s forwards;}
.js{animation:js 2s forwards;}
.next{animation:next 2s forwards;}
@keyframes html{from{width:0} to{width:93%;}}
@keyframes css{from{width:0} to{width:95%;}}
@keyframes js{from{width:0} to{width:35%;}}
@keyframes next{from{width:0} to{width:30%;}}

.portfolio{
    padding-top: 10%;
    text-align: center;
    font-size: 20px;
}

.contact{
    padding-top: 10%;
}

form{
  max-width: 350px;
  margin: auto;
  /* margin-top: 2%; */
  padding: 20px;
  background: #3f4141;
}

.form1 input{
    padding: 10px;
   width: 100%;
    border-radius: 5px;
}

.somto input{
  padding: 90px 67px;
  border-radius: 5px;
}

.hi{
  text-align: center;
}

.button2{
  padding:10px 125px;
  background:var(--main-color);
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:10px;
  transition:0.3s;
}

.location{
  padding: 20px;
  background:purple;
  width: 87%;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  border-radius: 5px;
}

.loca{
  width: 40px;
  margin-left: 3%;
}

.resume{
  padding: 10%;
  margin-top: 5%;
}

.time{
  text-align: center;
}

}